*{
  padding: 0;
  margin: 0;
}

.Title{
  size: 16px;
  padding-bottom: 15px;
}
.wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header{
  display: flex;
  justify-content: end;
}
.login{
  background: gold;
  width: 100px;
  align-items: center;
  height: 40px;
}
.container{
background-color: blue;
flex:1.5;
height: 500px;
border-radius: 5%;
align-items: stretch;
}
.add-budget{
  background-color: azure;
  display:grid;
  flex:.5;
}
.progress-bar{
background-color: rgb(34, 223, 223);
flex: .75;
}
.add-budget input{
  display:block;
}
.container-header{
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  height:10%;
}
.edit, .tracker, .dates {
  text-align: center;
  height: 100%; /* Ensures each section fills the container */
  border-radius: inherit;
}
.edit{
  flex:1;
  background-color: rgb(30, 133, 9);
  text-align: center;
}
.tracker{
  flex:3;
  background-color:rgb(10, 247, 109);
  text-align: center;
}
.dates{
  flex:1;
  background-color: grey;
  text-align: center;
}
.main-section{
  background: black;
  display: inline-block;
  height: 80%;
  width:100%;

}
.total-expenses{
  display:block
}